<div class="container">
    <div class="container text-center" style="margin: 30px;">
        <h3>Edit task</h3>
    </div>
    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="taskName" class="form-label">Task</label>
          <input type="text" class="form-control" id="taskName" name="taskName" required [(ngModel)]="task.taskName" >
          <div class="invalid-feedback">Fill this field.</div>
        </div>
        <div class="mb-3">
          <label for="responsiblePerson" class="form-label">Responsible person</label>
          <input type="text" class="form-control" id="responsiblePerson" name="responsiblePerson" [(ngModel)]="task.responsiblePerson">
        </div>
        <div class="mb-3">
            <label for="status" class="form-label">Status</label>
            <input type="text" class="form-control" id="status" name="status" [(ngModel)]="task.status">
        </div>
        <div class="container text-center" style="margin: 30px;">
            <button type="submit" class="btn btn-warning btn-sm me-3">Save changes</button>
            <a href="/" class="btn btn-danger btn-sm me-3">Return</a>
        </div>
      </form>
</div>
